.landingPage {
  width: 100%;
}

.landingPage h1,
.landingPage h2,
.landingPage h3,
.landingPage h4 {
 font-style: oblique;
}

.landingPage > section {
  padding: 60px 20px;
  scroll-margin-top: calc(var(--site-header-offset) + 16px);
}

.landingPage > section:nth-child(odd) {
  background-color: #eeeeee;
}

.landingPage > section:nth-child(even) {
  background-color: #f9f9f9;
}

@media(min-width: 768px) {
  .landingPage > section {
    padding: 80px 40px;
  }
}
